     * {
         margin: 0;
         padding: 0;

     }


     .video-container {
         position: relative;
         width: 100%;
         height: 100vh;
         overflow: hidden;
     }


     .bg-video {
         position: absolute;
         top: 50%;
         left: 50%;
         min-width: 100%;
         min-height: 100%;
         width: auto;
         height: auto;
         transform: translate(-50%, -50%);
         object-fit: cover;
         z-index: -2;
     }

     .video-overlay {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.55);
         z-index: -1;
     }

     .navbar {
         background-color: #4bc626;
         padding: 10px;
         display: flex;
         justify-content: flex-end;
         font-family: ROG Fonts STRIX SCAR, sans-serif;
     }

     .content-wrapper {
         position: relative;
         z-index: 1;
         height: 100%;
         display: flex;
         flex-direction: column;
     }

     .contact {
         background-color: #1a1b1b;
         color: white;
         padding: 60px;
         display: flex;
         justify-content: space-between;
         gap: 80px;
     }


     .left h2 {
         font-size: 40px;
         margin-bottom: 20px;
     }

     .left p {
         line-height: 28px;
     }

     .left h3 {
         color: orange;
         font-size: 32px;
     }


     .right input,
     .right textarea {
         width: 100%;
         padding: 15px;
         margin-bottom: 15px;
         background: #333;
         color: white;
         border: none;
         border-radius: 5px;
     }

     .right textarea {
         height: 150px;
         resize: none;
     }

     .send {
         background-color: #b27109;
         color: white;
         border: none;
         padding: 12px 30px;
         cursor: pointer;
         border-radius: 5px;
     }

     .map iframe {
         width: 100%;
         height: 450px;
         border: none;
     }